<header>
    <nav>
        <ul>
            <li [class]="'navegacion'"><a href="">
                    <p>Explorar</p>
                </a></li>
            <li [class]="'navegacion'"><a href="">
                    <p>Artista del momento</p>
                </a></li>
            <li [class]="'navegacion'"><a href="">
                    <p><img [src]="header.icono" alt="" style="transform: rotate(90deg);"> Playlist por
                        temática</p>
                </a></li>
        </ul>
    </nav>
</header>