<footer>
    <div>
        <ul>
            <li [class]="'logo'"><a href=""><img [src]="iconos.facebook" alt="facebook"></a></li>
            <li [class]="'logo'"><a href=""><img [src]="iconos.googleplus" alt="google+"></a></li>
            <li [class]="'logo'"><a href=""><img [src]="iconos.instagram" alt="instagram"></a></li>
            <li [class]="'logo'"><a href=""><img [src]="iconos.linkedin" alt="linkedin"></a></li>
            <li [class]="'logo'"><a href=""><img [src]="iconos.pinterest" alt="pinterest"></a></li>
            <li [class]="'logo'"><a href=""><img [src]="iconos.twitter" alt="twitter"></a></li>
        </ul>
    </div>
</footer>