<article [class]="'infoArtista'" style="height: 55%;">
    <div>
        <h1>Their Side</h1>
        <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti, enim culpa aut
                maxime qui ab corporis vel architecto tenetur possimus assumenda accusantium</span></p>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium mollitia provident aperiam aut
        temporibus pariatur delectus cum voluptas quis sed officiis, voluptatem laudantium totam nihil
        blanditiis quaerat sint rerum veniam.
    </p>
</article>