<section [class]="'repertorio'">
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
    <article>
        <div [class]="'cancion'">
            <div [class]="'descripcion'">
                <p>12/01/2023</p>
                <h3>Titulo</h3>
                <p>
                    DESCRIPCON: Lorem ipsum dolor sit. Eaque sint adipisci nihil suscipit sed rem
                    doloremque?
                </p>
            </div>
            <div [class]="'botonera'">
                <button><img [src]="botones.play" alt="Reproducir"></button>
                <button><img [src]="botones.fav" alt="Añadir a favoritos"></button>
            </div>
        </div>

    </article>
</section>