main {
  width: 100%;
  background-image: url(../../../public/ecualizador_rosa-removebg-preview.png);
  background-repeat: repeat-x;
  background-size: 550px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#gradiente {
  height: 84px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: end;
}
