<div [class]="'contenedorPrincipal'">
    <app-header></app-header>
    <app-section></app-section>
    <app-main></app-main>
</div>
<div [class]="'pie'">
    <div [class]="'corporativo'">
        <ul>
            <li><a href="">
                    <p>Contacto</p>
                </a></li>
            <li><a href="">
                    <p>Política de privacidad</p>
                </a></li>
            <li><a href="">
                    <p>Sobre nosotros</p>
                </a></li>
        </ul>
        <p>Copyright Daniel</p>
    </div>
    <app-footer></app-footer>
</div>